.image {
    position: relative;
    display: block;
}

.fa-video, .fa-image {
    position: absolute;
    left: 20px;
    top: 20px;
}

.meta > div {
    padding: 0;
    text-align: center;
    white-space: nowrap;
}